<h2><%= @vacation %></h2>

<p>Start Date: <%= @vacation.start_date %></p>
<p>End Date: <%= @vacation.end_date %></p>
<p>Resort Name: <%= @vacation.resort_name %></p>
<p>Description: <%= @vacation.description %></p><br/>

<% if Helpers.current_user(session) == @vacation.user %>
<a href="/vacations/<%=@vacation.id%>/edit">Edit Vacation</a><br/><br/>

<form action="/vacations/<%=@vacation.id%>/delete" method="post">

<input type="hidden" name="_method" value="delete">

<center><button type="submit" class="btn">Delete</button></center>
</form>

<%end%>
