<h2><%= @vacation %></h2>

<p><%= @vacation.start_date %></p>
<p><%= @vacation.end_date %></p>
<p><%= @vacation.resort_name %></p>
<p><%= @vacation.description %></p>

<% if Helpers.current_user(session) == @vacation.user %>

<a href="/vacations/<%=@vacation.id%>/edit">Edit Vacation</a>

<%end%>